.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  flex: 30%;
  background-color: tomato;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .inputContainer {
  display: flex;
  flex-direction: column;  
}

.header .inputContainer:hover {
  border: solid aqua 2px; 
}

.header button {
  width: 70px;
  height: 87px;
  border: none;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px; 
  cursor: pointer;
}

.header button:hover {
  background-color: aqua; 
}

body {
  margin: 0;
  padding: 0; 
}

.header input { 
  width: 200px;
  height: 40px;
  /* border: none; */ 
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
  padding-left: 10px;
  font-size:  17px;
  border: 1px solid gray;
}

.todoList {

  flex: 70%;
  width: 100%; 

}

 